<br/> <br/>
<h2>Author Details </h2>
<div id="authordetails">
<label>Employee ID: {{searchauthor.empid}} </label> <br/>
<label>Name: {{searchauthor.name}} </label> <br/>
<label>Email: {{searchauthor.email}} </label> <br/>
<label>Skills: {{searchauthor.skills}} </label> <br/>
<label>Department: {{searchauthor.department}} </label> <br/>
<label>Website: {{searchauthor.website}} </label> <br/>
</div>
<br/> <br/>
<form id="authorform" class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Employee ID :</label>
    <div class="col-sm-7">
      <input type="text" ng-model="searchauthor.empid" value="{{searchauthor.empid}}" class="form-control" id="isbn" placeholder="Employee ID">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Name :</label>
    <div class="col-sm-7">
      <input type="text" ng-model="searchauthor.name" value="{{searchauthor.name}}" class="form-control" id="title" placeholder="Your Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email :</label>
    <div class="col-sm-7">
      <input type="text" ng-model="searchauthor.email" value="{{searchauthor.email}}" class="form-control" id="author" placeholder="Email ID">
    </div>
  </div>
   <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Skills :</label>
    <div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Amazon">
		Node.js
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="eBay">
		Javascript
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Go
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Python
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		PHP
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Backbone
		</label>
	</div>
	<br/>
		<div class="checkbox-inline col-md-offset-2">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		React
		</label>
	</div>
		<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Knockout
		</label>
	</div>
		<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Java
		</label>
	</div>
		<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		HTML
		</label>
	</div>
		<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		CSS
		</label>
	</div>
		<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Angular
		</label>
	</div><br/>
	<div class="checkbox-inline col-md-offset-2">
		<label class="col-sm-12">
		<input type="checkbox" value="Flipkart">
		Project Management
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Communication
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-12">
		<input type="checkbox" value="Flipkart">
		Delivery Management
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-12">
		<input type="checkbox" value="Flipkart">
		Team Management
		</label>
	</div>
	
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Department :</label>
    <div class="col-sm-7">
      <input type="text" ng-model="searchauthor.department" value="{{searchauthor.department}}" class="form-control" id="price" placeholder="Department name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Website :</label>
    <div class="col-sm-7">
      <input type="text" ng-model="searchauthor.website" value="{{searchauthor.website}}" class="form-control" id="availableOn" placeholder="Website URL">
    </div>
  </div>
  
 
</form>

<div class="col-sm-offset-2 col-sm-1">
      <button type="submit" onclick="showauthorform()" ng-dblclick="editAuthor(searchauthor)" class="btn btn-default">Edit</button>
    </div>
  
    <div class="">
      <button type="submit" ng-click="deleteAuthor(searchauthor)" class="btn btn-default">Delete</button>
    </div>
<div class="table_info table-responsive" >
			<table class="table table-hover table-bordered">
			<tr>
				<th>author ID</th>
				<th>NAME </th>
				<th>Email</th>
				<th>Department</th>
				<th>Skills</th>
				<th>website</th>
				
				
			</tr>
<tr ng-repeat="author in myAuthor" >
								 
										<td>{{author.empid}}</td>
										<td>{{author.name}}</td>
										<td>{{author.email}}</td>
										<td>{{author.department}}</td>
										<td>{{author.skills}}</td>
										<td>{{author.website}}</td>
										
										
									
								
			</tr>