

<h1>book details </h1>

<div id="bookdetails">
<label>ISBN no: {{book.isbn}} </label> <br/>
<label>Title: {{book.title}} </label> <br/>
<label>Author: {{book.author}} </label> <br/>
<label>Price: {{book.price}} </label> <br/>
<label>Available On: {{book.availableOn}} </label> <br/>
</div>
<div id="bookeditingform">
<br/> <br/>

<br/> <br/>
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">ISBN :</label>
    <div class="col-sm-6">
      <input type="text" ng-model="book.isbn" value="{{book.isbn}}" class="form-control" id="isbn" placeholder="Book ISBN no">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Title :</label>
    <div class="col-sm-6">
      <input type="text" ng-model="book.title" value="{{book.title}}" class="form-control" id="title" placeholder="Book Title">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Author :</label>
    <div class="col-sm-6">
      <input type="text" ng-model="book.author" value="{{book.author}}" class="form-control" id="author" placeholder="Book Author">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Price :</label>
    <div class="col-sm-6">
      <input type="text" ng-model="book.price" value="{{book.price}}" class="form-control" id="price" placeholder="Book Price">
    </div>
  </div>
  <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Available On :</label>
    <div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Amazon">
		Amazon
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="eBay">
		eBay
		</label>
	</div>
	<div class="checkbox-inline">
		<label class="col-sm-2">
		<input type="checkbox" value="Flipkart">
		Flipkart
		</label>
	</div>
	
  </div>
  </form>
 </div> 
 
 <br/> <br/>
  <div>
    <div class="col-sm-offset-2 col-sm-1">
      <button type="submit" onclick="showbookform()" ng-dblclick="editBook(book)" class="btn btn-default">Edit</button>
    </div>
  
    <div class="">
      <button type="submit" ng-click="deleteBook(book)" class="btn btn-default">Delete</button>
    </div>
  </div>



<!--<div id="actualbookdetails">
<label class="col-sm-12">
ISBN: {{book_details.isbn}}
</label>

<label class="col-sm-12">
Title: {{book_details.title}}
</label>

<label class="col-sm-12">
Author: {{book_details.author}}
</label>

<label class="col-sm-12">
Price: {{book_details.price}}
</label>

<label class="col-sm-12">
Available On: {{book_details.availableOn}}
</label>

</div> -->
<div id="table_details" class="table_info table-responsive" >
			<table class="table table-hover table-bordered">
			<tr>
				<th>ISBN </th>
				<th>Title </th>
				<th>Author</th>
				<th>Price</th>
				<th>Available On</th>
			</tr>
			
			<tr ng-repeat="employee in myData" ng-click="showbookpage(employee)">
								 
										<td><a href="#/bookdetails">{{employee.isbn}}</a></td>
										<td><a href="#/bookdetails">{{employee.title}}</a></td>
										<td><a href="#/authordetails">{{employee.author}}</a></td>
										<td><a href="#/bookdetails">{{employee.price}}</a></td>
										<td><a href="#/bookdetails">{{employee.availableOn}}</a></td>
									
								
			</tr>
			
			</table>
	
	</div>

  